#
# Read http://www.instructables.com/id/Telegram-Bots-for-beginners/
# to see how to set up bots and find your chat ids
#

# bots=bot1,bot2
bots=crane
crane.token={{ telegram.crane.token }}
crane.chatId={{ telegram.crane.chatId }}
